@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: 'SFB';
    src: url('../assets/fonts/sfprodisplay_bold.OTF');
}

@font-face {
    font-family: 'SF';
    src: url('../assets/fonts/sfprodisplay_regular.OTF');
}

* {
    margin: 0;
    padding: 0;

    --c-primary: #9A9CEA;
    --c-primary-hover: #A2B9EE;
    --c-secondary: #A2DCEE;
    --c-secondary-hover: #ADEEE2;
    --c-disabled: #8C8B94;

    --c-background: #EAEBEF;
}

html {
    font-family: 'SFB', sans-serif;
    font-size: 62.5%;
    /* 10px */
    background-color: var(--c-background);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.desktop {
    display: none;
}

/* BOOTSTRAP */

.nav {
    position: fixed;
    bottom: 0;
    background: rgba(232, 232, 237, 0.87);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: 5em;
    z-index: 1;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

.nav-urls {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    display: none;
}

.nav-a {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

.nav-icon {
    display: block;
}

.nav-title {
    font-size: 0.5em;
    font-weight: bold;
}

.github-icon {
    display: none;
}

p {
    color: black;
    font-size: 2.5em;
    font-family: 'SF', sans-serif;
}

.li-p {
    font-size: 0.5em;
}


li {
    list-style-type: none;
    font-size: 2em;
    text-decoration: none;
    display: inline;
    padding: 0.25em 1em 0.25em 1em;
}

li :hover {
    color: black;
    transition: color 0.2s ease;
}

form li {
    list-style-type: none;
    font-size: 2em;
    text-decoration: none;
    display: block;
    padding: 0.5em;
}

form {
    border-radius: 16px;
    background: #EAEBEF;
    box-shadow: 10px 10px 20px #c7c8cb,
        -10px -10px 20px #ffffff;
    font-family: 'SFB', sans-serif;
    font-weight: bold;
    width: 27em;
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    padding: 2em;
    height: 30em;
    margin-top: 5em;
}

label {
    display: block;
}

input {
    border: none;
    border-radius: 8px;
    background: #EAEBEF;
    box-shadow: inset 5px 5px 5px #cbced1,
        inset -5px -5px 5px #ffffff;
    font-family: 'SF', sans-serif;
    height: 2.5em;
    font-size: 1.5em;
    width: 17em;
    padding: 0.5em;
    border: 1px solid #CDCFD2;
}

#aboutme_container {
    margin-top: 5em;
}

textarea {
    border: none;
    border-radius: 8px;
    background: #EAEBEF;
    box-shadow: inset 5px 5px 5px #cbced1,
        inset -5px -5px 5px #ffffff;
    font-family: 'SF', sans-serif;
    height: 2.5em;
    font-size: 1.5em;
    width: 95%;
    padding: 0.5em;
    border: 1px solid #CDCFD2;
}

a {
    color: #3f72f5;
    text-decoration: none;
}

.selected p {
    color: var(--c-primary);
    font-weight: bold;
}

.selected svg {
    stroke: var(--c-primary);
}

.nav a {
    text-decoration: none;
    color: #8C8B94;
}

h1 {

    font-size: 4em;
    background: rgb(154, 156, 234);
    background: -moz-linear-gradient(90deg, rgba(154, 156, 234, 1) 0%, rgba(162, 220, 238, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(154, 156, 234, 1) 0%, rgba(162, 220, 238, 1) 100%);
    background: linear-gradient(90deg, rgba(154, 156, 234, 1) 0%, rgba(162, 220, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a9cea", endColorstr="#a2dcee", GradientType=1);

    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.indexh1 {
    font-size: 5em;
    text-align: center;
    padding: 1em;
}

.p0_5 {
    padding: 0.5em;
}

.mt10 {
    margin-top: 10em;
}

.ml1 {
    margin-left: 0.3em;
}

.color-disabled {
    color: #8C8B94;
    font-weight: normal;
}

h2 {
    margin-left: 1em;
    font-size: 3em;
    color: black;
    font-family: 'SFB', sans-serif;
    font-weight: bold;

    background: rgb(154, 156, 234);
    background: -moz-linear-gradient(0deg, rgba(154, 156, 234, 1) 0%, rgba(162, 220, 238, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(154, 156, 234, 1) 0%, rgba(162, 220, 238, 1) 100%);
    background: linear-gradient(0deg, rgba(154, 156, 234, 1) 0%, rgba(162, 220, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a9cea", endColorstr="#a2dcee", GradientType=1);

    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#first {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

#texto-index {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

#texto-index p {
    color: black;
    padding: 1em;
    font-size: 3em;
    font-family: 'SF', sans-serif;
}

#texto-index p:first-child {
    padding-top: 2em;
    padding-bottom: 0em;
}

#texto-index p:last-child {
    padding-top: 0em;
    padding-bottom: 1em;
}

.indexp {
    color: black;
    padding: 1em;
    font-size: 3em;
    font-family: 'SF', sans-serif;
    padding-bottom: 0em;
}

.indexp-p {
    color: black;
    padding: 1em;
    font-size: 3em;
    font-family: 'SF', sans-serif;
    padding-bottom: 0em;
}

.aboutme-p {
    color: black;
    padding: 1em;
    font-size: 1.75em;
    font-family: 'Montserrat', sans-serif;
}

.morph {
    border-radius: 100em;
    background: var(--c-background);
    box-shadow: 17px 17px 34px var(--c-primary),
        -17px -17px 34px #ffffff;
    width: 20em;
    height: 20em;
    display: block;
}

.morph img {
    width: 20em;
    height: 20em;
    border-radius: 0em 0em 100em 100em;
}

.btn {
    background: var(--c-background);
    box-shadow: 10px 10px 20px var(--c-primary),
        -10px -10px 20px var(--c-secondary-hover);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    width: 16.5em;
    transition: box-shadow 0.15s ease-in;
    padding: 0.5em;
    margin-top: 2.5em;
}

.btn-p {
    font-family: 'SFB', sans-serif;
    font-size: 1.6em;
    padding-right: 0.5em;
}

.btn:hover {
    background: linear-gradient(145deg, #d3d4d7, var(--c-background));
    box-shadow: 10px 10px 20px var(--c-secondary-hover),
        -10px -10px 20px var(--c-primary);
    cursor: pointer;
    transition: box-shadow 0.15s ease-in;
}

.newsection {
    margin-top: 20em;
}

.container {
    display: flex;
    flex-flow: wrap row;
}

.container-vertical {
    display: flex;
    flex-flow: wrap column;
}

/* PROJECTS */

.proj {
    /* grids */
    display: grid;
    grid-template-areas:
        "img"
        "badges"
        "title"
        "content"
        "btn";

    margin: 6em 1em 0 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 50px 1fr 50px;
    grid-gap: 1.5em 0em;

    /* style */
    border-radius: 24px;
    background: var(--c-background);
    box-shadow: 20px 20px 60px var(--c-primary),
        -20px -20px 60px #ffffff;
    width: auto;
    height: auto;
    padding: 2em;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
}

.proj-img {
    grid-area: img;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}

.proj-img img {
    width: 30em;
    height: 175px;
    border-radius: 12px;
}

.proj-badges {
    grid-area: badges;
    display: flex;
    flex-flow: wrap row;
    align-content: center;
    justify-content: center;
}

.proj-title {
    grid-area: title;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
    font-weight: bold;

}

.proj-content {
    grid-area: content;
    color: #8C8B94;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;

}

.proj-btn-s {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}

.proj-btn {
    grid-area: btn;
    background: linear-gradient(145deg, #437aff, #3967dd);
    border-radius: 8px;
    display: flex;
    flex-flow: nowrap row;
    padding: 1.5em;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.proj-btn:hover {
    background: linear-gradient(145deg, #3d71eb, #335ecc);
    transition: background-color 0.15s ease-in;
}

.proj-btn-a {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.proj-btn-p {
    font-size: 1.5em;
    font-family: 'SFB', sans-serif;
    color: white;
}

.proj-btn-p:first-child {
    padding-right: 0.5em;
    font-size: 1.5em;
    font-family: 'SFB', sans-serif;
    color: white;
}

/* PROJECTS INDEX */

.project {
    /* grids */
    display: grid;
    grid-template-areas:
        "img-i"
        "title-i"
        "content-i"
        "btn-i";

    margin: 6em 1em 0 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 1fr 50px;
    grid-gap: 1.5em 0em;

    /* style */
    border-radius: 24px;
    background: var(--c-background);
    box-shadow: 20px 20px 60px var(--c-primary),
        -20px -20px 60px #ffffff;
    width: 30em;
    height: 40em;
    padding: 2em;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
}

.project-img {
    grid-area: img-i;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}

.project-img img {
    width: 30em;
    height: 175px;
    border-radius: 12px;
}

.project-title {
    grid-area: title-i;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
    font-weight: bold;

}

.project-content {
    grid-area: content;
    color: #8C8B94;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;

}

.project-btn-s {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}

.project-btn {
    grid-area: btn-i;
    background: linear-gradient(145deg, #437aff, #3967dd);
    border-radius: 8px;
    display: flex;
    flex-flow: nowrap row;
    padding: 1.5em;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project-btn:hover {
    background: linear-gradient(145deg, #3d71eb, #335ecc);
    transition: background-color 0.15s ease-in;
}

.project-btn-a {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project-btn-p {
    font-size: 1.5em;
    font-family: 'SFB', sans-serif;
    color: white;
}

.project-btn-p:first-child {
    padding-right: 0.5em;
    font-size: 1.5em;
    font-family: 'SFB', sans-serif;
    color: white;
}

.icon {
    border-radius: 1.5em;
    background: var(--c-background);
    box-shadow: 17px 17px 25px var(--c-primary),
        -17px -17px 25px #ffffff;
    width: 10em;
    height: 10em;
    display: block;
    margin-left: 2em;
    margin-top: 2em;
}

.icon img {
    width: 10em;
    height: 10em;
}

.media {
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow: 5px 5px 20px #bababa,
        -5px -5px 20px #ffffff;
    width: 3em;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;

}

.media:hover {
    background: linear-gradient(145deg, #d3d4d7, var(--c-background));
    box-shadow: 5px 5px 20px var(--c-secondary-hover),
        -5px -5px 20px var(--c-primary);
    transition: box-shadow 0.15s ease-in;
}

.media img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.footer-p {
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    padding: 0.7em;
}

/* SKILLS */

.skills {
    border-radius: 12px;
    background: #EAEBEF;
    box-shadow: 20px 20px 60px #c7c8cb,
        -20px -20px 60px #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    width: 20em;
    padding: 0.5em;
    margin: 2em;
}

.skills-p {
    font-family: 'SFB', sans-serif;
    font-size: 1.6em;
    padding-right: 0.5em;
}

.skills:hover {
    background: linear-gradient(145deg, #d3d4d7, var(--c-background));
    box-shadow: 10px 10px 20px var(--c-secondary-hover),
        -10px -10px 20px var(--c-primary);
    cursor: pointer;
    transition: box-shadow 0.1s ease-in;
}

/* -------------- */

.aboutme {
    background: var(--c-background);
    box-shadow: 20px 20px 40px #c7c8cb,
        -20px -20px 40px #ffffff;
    width: 90%;
    height: auto;
    border-radius: 2.4em;
}

/* BADGES */

.badge {
    padding: 3px 10px 3px 10px;
    border-radius: 2.5em;
    font-size: 1.6em;
    text-align: center;
    margin: 0 0.7em 0.7em 0.7em;
    color: white;
    opacity: 0.7;
}

.badge-js {
    border: 1px solid #DDC02F;
    background-color: #EAD41C;
}

.badge-php {
    border: 1px solid #444882;
    background-color: #828CB4;
}

.badge-sql {
    border: 1px solid #4E8519;
    background-color: #00C93D;
}

.badge-html {
    border: 1px solid #D84924;
    background-color: #E96228;
}

.badge-css {
    border: 1px solid #0091D5;
    background-color: #2862E9;
}



/* ATRIBUTOS JUSTIFY-CONTENT FLEX */
.justify-content_flex-start {
    justify-content: flex-start;
}

.justify-content_flex-end {
    justify-content: flex-end;
}

.justify-content_space-between {
    justify-content: space-between;
}

.justify-content_center {
    justify-content: center;
}

.justify-content_space-around {
    justify-content: space-around;
}

.justify-content_evenly {
    justify-content: space-evenly;
}

/* ATRIBUTOS JUSTIFY-CONTENT FLEX */

.align-items_flex-start {
    align-items: flex-start;
}

.align-items_flex-end {
    align-items: flex-end;
}

.align-items_space-between {
    align-items: space-between;
}

.align-items_center {
    align-items: center;
}

.align-items_stretch {
    align-items: stretch;
}

.align-items_baseline {
    align-items: baseline;
}

/* GRID */

header {
    grid-area: header;
}

#section {
    grid-area: contenido;
}

footer {
    grid-area: footer;
}

#grilla {
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template-areas:
        "contenido"
        "footer"
        "header";
    grid-template-columns: auto;
    grid-template-rows: 1fr 50px 50px;
    grid-gap: 5em;
}

#btn-projects {
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}

/* -----[ DESKTOP ]----- */

@media screen and (min-width: 1024px) {
    html {
        font-family: 'SFB', sans-serif;
        font-size: 62.5%;
        /* 10px */
        background-color: var(--c-background);
        scroll-behavior: smooth;
    }

    .nav {
        position: fixed;
        top: 0;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        width: 100%;
        height: 5em;
        z-index: 1;
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-urls {
        display: flex;
        flex-flow: nowrap row;
        justify-content: center;
        align-items: center;
    }

    .nav-urls li {
        padding: 10px;
    }

    .nav-logo {
        display: flex;
        flex-flow: nowrap row;
        justify-content: center;
        align-items: center;
    }

    .nav-a {
        display: flex;
        flex-flow: nowrap row;
        justify-content: center;
        align-items: center;
    }

    .nav-icon {
        display: none;
    }

    .nav-title {
        font-size: 20px;
        font-family: 'SFB', sans-serif;
        color: var(--c-disabled);
    }

    #first {
        flex-flow: normal;
        justify-content: normal;
        align-items: normal;

        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #btn-index {
        grid-area: 3 / 1 / 4 / 2;
        display: flex;
        flex-flow: nowrap row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 4.5em;
    }

    #texto-index {
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-flow: nowrap column;
        justify-content: center;
        align-items: flex-start;
        padding: 1em;
        margin-left: 5.1em;
    }

    #texto-index p {
        color: black;
        padding: 0em;
        font-size: 3em;
        font-family: 'SF', sans-serif;
        padding-bottom: 0em;
    }

    #texto-index p:first-child {
        padding-top: 2em;
    }

    #texto-index p:last-child {
        padding-bottom: 1em;
    }

    p {
        color: black;
        font-size: 2.5em;
        font-family: 'SF', sans-serif;
    }


    li {
        list-style-type: none;
        font-size: 2em;
        text-decoration: none;
        display: inline;
    }

    li :hover {
        color: var(--c-primary-hover);
        transition: color 0.2s ease;
    }

    form li {
        list-style-type: none;
        font-size: 2em;
        text-decoration: none;
        display: block;
        padding: 0.5em;
    }

    form {
        border-radius: 16px;
        background: #EAEBEF;
        box-shadow: 10px 10px 20px #c7c8cb,
            -10px -10px 20px #ffffff;
        font-family: 'SFB', sans-serif;
        font-weight: bold;
        width: 35em;
        display: flex;
        flex-flow: nowrap column;
        align-items: center;
        padding: 2em;
        height: 30em;
    }

    label {
        display: block;
    }

    input {
        border: none;
        border-radius: 8px;
        background: #EAEBEF;
        box-shadow: inset 5px 5px 5px #cbced1,
            inset -5px -5px 5px #ffffff;
        font-family: 'SF', sans-serif;
        height: 2.5em;
        font-size: 1.5em;
        width: 20em;
        padding: 0.5em;
    }

    a {
        color: #3f72f5;
        text-decoration: none;
    }

    textarea {
        border: none;
        border-radius: 8px;
        background: #EAEBEF;
        box-shadow: inset 5px 5px 5px #cbced1,
            inset -5px -5px 5px #ffffff;
        font-family: 'SF', sans-serif;
        height: 2.5em;
        font-size: 1.5em;
        width: 98%;
        padding: 0.5em;
    }

    .selected p {
        color: var(--c-primary);
    }

    #aboutme {
        margin-left: 3em;
    }

    nav a {
        text-decoration: none;
        color: #8C8B94;
    }

    h1 {

        font-size: 4em;
        background: rgb(154, 156, 234);
        background: -moz-linear-gradient(90deg, rgba(154, 156, 234, 1) 0%, rgba(162, 220, 238, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(154, 156, 234, 1) 0%, rgba(162, 220, 238, 1) 100%);
        background: linear-gradient(90deg, rgba(154, 156, 234, 1) 0%, rgba(162, 220, 238, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a9cea", endColorstr="#a2dcee", GradientType=1);

        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .indexh1 {
        grid-area: 1 / 1 / 2 / 2;
        font-size: 6em;
        padding: 1em 2em 0em 0em;
        margin-left: 1em;
        text-align: start;
    }

    .p0_5 {
        padding: 0.5em;
    }

    .mt10 {
        margin-top: 10em;
    }

    .ml1 {
        margin-left: 0.3em;
    }

    .color-disabled {
        color: #8C8B94;
        font-weight: normal;
    }

    h2 {
        margin-left: 1em;
        font-size: 3em;
        color: black;
        font-family: 'SFB', sans-serif;
        font-weight: bold;

        background: rgb(154, 156, 234);
        background: -moz-linear-gradient(0deg, rgba(154, 156, 234, 1) 0%, rgba(162, 220, 238, 1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(154, 156, 234, 1) 0%, rgba(162, 220, 238, 1) 100%);
        background: linear-gradient(0deg, rgba(154, 156, 234, 1) 0%, rgba(162, 220, 238, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a9cea", endColorstr="#a2dcee", GradientType=1);

        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .indexp {
        color: black;
        padding: 1em;
        padding-bottom: 0em;
        margin-left: 2em;
        font-size: 3em;
        font-family: 'SF', sans-serif;
    }

    .indexp-p {
        color: black;
        padding: 0em;
        margin-left: 3em;
        font-size: 3em;
        font-family: 'SF', sans-serif;
    }

    .aboutme-p {
        color: black;
        padding: 1em;
        font-size: 1.75em;
        font-family: 'Montserrat', sans-serif;
    }

    .morph-s {
        grid-area: 1 / 2 / 3 / 3;
        display: flex;
        flex-flow: nowrap column;
        justify-content: center;
        align-items: flex-end;
        margin-right: 6.1em;
    }

    .morph {
        border-radius: 100em;
        background: var(--c-background);
        box-shadow: 17px 17px 34px var(--c-primary),
            -17px -17px 34px #ffffff;
        width: 30em;
        height: 30em;
    }

    .morph img {
        width: 30em;
        height: 30em;
        border-radius: 0em 0em 100em 100em;
    }

    .logo {
        width: 40px;
        height: 40px;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    .btn {
        border-radius: 10px;
        background: var(--c-background);
        box-shadow: 10px 10px 20px var(--c-primary),
            -10px -10px 20px var(--c-secondary-hover);
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        align-items: center;
        width: 16.5em;
        transition: box-shadow 0.15s ease-in;
        padding: 0.5em;
        margin: 2em;
    }

    .btn-p {
        font-family: 'SFB', sans-serif;
        font-size: 1.6em;
        padding-right: 0.5em;
    }

    .btn:hover {
        background: linear-gradient(145deg, #d3d4d7, var(--c-background));
        box-shadow: 10px 10px 20px var(--c-secondary-hover),
            -10px -10px 20px var(--c-primary);
        cursor: pointer;
        transition: box-shadow 0.15s ease-in;
    }

    .newsection {
        margin-top: 20em;
    }

    .container {
        display: flex;
        flex-flow: wrap row;
    }

    .container-vertical {
        display: flex;
        flex-flow: wrap column;
    }

    /* PROJECTS SECTION */

    #projects {
        margin-left: 3em;
        margin-bottom: 1em;
    }

    .proj {
        /* grids */
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: 0.7fr 0.15fr 0.2fr 0.15fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        /* style */
        border-radius: 24px;
        background: var(--c-background);
        box-shadow: 20px 20px 60px var(--c-primary),
            -20px -20px 60px #ffffff;
        width: 85em;
        height: 37em;
        padding: 2em;
        margin-left: 5.1em;
        float: left;
    }

    .proj:nth-child(even) {
        float: right;
        margin-right: 5.1em;
    }

    .proj-img {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        flex-flow: nowrap row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 30em;
        height: 175px;
        overflow: hidden;
        border-radius: 12px;
    }

    .proj-img img {
        width: 30em;
        height: 175px;
        border-radius: 12px;
        transition: all 1.5s;
    }

    .proj-img:hover img {
        transform: scale(1.5);
    }

    .proj-badges {
        grid-area: 1 / 2 / 4 / 3;
        display: flex;
        flex-flow: wrap column;
        align-content: flex-end;
        justify-content: flex-start;
    }

    .proj-title {
        grid-area: 2 / 1 / 3 / 2;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.2em;
        font-weight: bold;

    }

    .proj-content {
        grid-area: 3 / 1 / 4 / 2;
        color: #8C8B94;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.7em;

    }

    .proj-btn-s {
        grid-area: 4 / 2 / 5 / 3;
        display: flex;
        flex-flow: nowrap row;
        justify-content: flex-end;
        justify-items: flex-end;
        align-items: flex-end;
    }

    .proj-btn {
        background: linear-gradient(145deg, #437aff, #3967dd);
        border-radius: 8px;
        display: flex;
        flex-flow: nowrap row;
        padding: 1.5em;
        justify-content: center;
        align-items: center;
        width: 20em;
    }

    .proj-btn:hover {
        background: linear-gradient(145deg, #3d71eb, #335ecc);
        transition: background-color 0.15s ease-in;
    }

    .proj-btn-a {
        display: flex;
        flex-flow: nowrap row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .proj-btn-p {
        font-size: 1.5em;
        font-family: 'SFB', sans-serif;
        color: white;
    }

    .proj-btn-p:first-child {
        padding-right: 0.5em;
        font-size: 1.5em;
        font-family: 'SFB', sans-serif;
        color: white;
    }

    .icon {
        border-radius: 2.5em;
        background: var(--c-background);
        box-shadow: 17px 17px 25px var(--c-primary),
            -17px -17px 25px #ffffff;
        width: 15em;
        height: 15em;
        display: block;
        margin-left: 5.1em;
    }

    .icon img {
        width: 15em;
        height: 15em;
    }

    #btn-projects {
        display: flex;
        flex-flow: nowrap row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 6.1em;
    }

    .media {
        border-radius: 50%;
        background: #e0e0e0;
        box-shadow: 5px 5px 20px #bababa,
            -5px -5px 20px #ffffff;
        width: 3em;
        height: 3em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0.5em;
        margin: 0.5em;
    }

    .media:hover {
        background: linear-gradient(145deg, #d3d4d7, var(--c-background));
        box-shadow: 5px 5px 20px var(--c-secondary-hover),
            -5px -5px 20px var(--c-primary);
        transition: box-shadow 0.15s ease-in;
    }

    .media img {
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
    }

    .project-btn {
        grid-area: btn-i;
        background: linear-gradient(145deg, #437aff, #3967dd);
        border-radius: 8px;
        display: flex;
        flex-flow: nowrap row;
        padding: 1.5em;
        justify-content: center;
        align-items: center;
        width: 20em;
    }

    footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: flex-end;
        margin-top: 5em;
    }

    .footer-p {
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        padding: 0.7em;
    }

    /* SKILLS */

    .skills {
        border-radius: 12px;
        background: #EAEBEF;
        box-shadow: 20px 20px 60px #c7c8cb,
            -20px -20px 60px #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        align-items: center;
        width: 20em;
        padding: 0.5em;
        margin: 2em;
    }

    .skills-p {
        font-family: 'SFB', sans-serif;
        font-size: 1.6em;
        padding-right: 0.5em;
    }

    .skills:hover {
        background: linear-gradient(145deg, #d3d4d7, var(--c-background));
        box-shadow: 10px 10px 20px var(--c-secondary-hover),
            -10px -10px 20px var(--c-primary);
        cursor: pointer;
        transition: box-shadow 0.1s ease-in;
    }

    /* -------------- */

    .aboutme {
        background: var(--c-background);
        box-shadow: 20px 20px 40px #c7c8cb,
            -20px -20px 40px #ffffff;
        width: auto;
        height: auto;
        border-radius: 2.4em;
        margin-left: 6.1em;
        margin-right: 6.1em;
    }

    /* -------------- */

    .container-badge {
        width: auto;
        height: 17em;
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
    }

    .badge {
        width: 4em;
        padding: 0.1em;
        border-radius: 2.5em;
        font-size: 1.6em;
        text-align: center;
        margin: 1em;
        color: white;
        opacity: 0.7;
    }

    .badge-js {
        border: 1px solid #DDC02F;
        background-color: #EAD41C;
    }

    .badge-php {
        border: 1px solid #444882;
        background-color: #828CB4;
    }

    .badge-sql {
        border: 1px solid #4E8519;
        background-color: #00C93D;
    }

    .badge-html {
        border: 1px solid #D84924;
        background-color: #E96228;
    }

    .badge-css {
        border: 1px solid #0091D5;
        background-color: #2862E9;
    }



    /* ATRIBUTOS JUSTIFY-CONTENT FLEX */
    .justify-content_flex-start {
        justify-content: flex-start;
    }

    .justify-content_flex-end {
        justify-content: flex-end;
    }

    .justify-content_space-between {
        justify-content: space-between;
    }

    .justify-content_center {
        justify-content: center;
    }

    .justify-content_space-around {
        justify-content: space-around;
    }

    .justify-content_evenly {
        justify-content: space-evenly;
    }

    /* ATRIBUTOS JUSTIFY-CONTENT FLEX */

    .align-items_flex-start {
        align-items: flex-start;
    }

    .align-items_flex-end {
        align-items: flex-end;
    }

    .align-items_space-between {
        align-items: space-between;
    }

    .align-items_center {
        align-items: center;
    }

    .align-items_stretch {
        align-items: stretch;
    }

    .align-items_baseline {
        align-items: baseline;
    }

    /* GRID */

    header {
        grid-area: header;
    }

    #section {
        grid-area: contenido;
    }

    .border {
        border: 1px solid black;
    }

    footer {
        grid-area: footer;
    }

    #grilla {
        height: 100vh;
        margin: 0;

        display: grid;
        grid-template-areas:
            "header header  header"
            "contenido  contenido contenido"
            "footer footer  footer";
        grid-template-columns: auto auto auto;
        grid-template-rows: 50px 1fr 50px;
        grid-gap: 3em;
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

}