// COLORS

$c-primary: #9A9CEA;
$c-primary-contrast: #676FC6;
$c-primary-contrast2: #5F5ACC;
$c-primary2: #A2B9EE;
$c-secondary: #A2DCEE;
$c-secondary2: #ADEEE2;
$c-disabled: #8C8B94;
$c-disabled2: #706E7B;

$c-background: #f4f2fa;
/* OLD: #EAEBEF */
$c-background2: $c-background;