@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: 'SFB';
    font-display: swap;
    src: url('../fonts/sfprodisplay_bold.OTF');
}

@font-face {
    font-family: 'SF';
    font-display: swap;
    src: url('../fonts/sfprodisplay_regular.OTF');
}